@media screen and (max-width: 600px) {
   body {
      font-size: 1.8em;
      text-align: center;
   }

   ol {
      width: 80%;
      margin: 0 auto;
      background-color: black;
      list-style: none;
      padding: 0;
   }

   li {
      color: white;
      font-weight: bold;
      margin: 40px;
      background-color: white;
   }

   a:link {
      color: black;
   }
}
