

	#left_long {
		background-color: orange;
		height: 300px;
		width: 100px;
		clear: left;
		border: 3px solid white;
		float: left;
	}

	#bottom_left_long {
		background-color: orange;
		height: 300px;
		width: 100px;
		float: left;
		border: 3px solid white;
		clear: left;

	}

	#top_center {
		height: 100px;
		width: 600px;
		background-color: purple;
		border: 3px solid white;
	}

	#bottom_left_square {
		height: 200px;
		width: 200px;
		background-color: blue;
		border: 3px solid white;
	}

	#bottom_right_sqaure {
		height: 200px;
		width: 200px;
		background-color: blue;
		border: 3px solid white;
	}

	#top_left_square {
		height: 200px;
		width: 200px;
		background-color: blue;
		border: 3px solid white;
	}

	#top_right_sqaure{
		height: 200px;
		width: 200px;
		background-color: blue;
		border: 3px solid white;
	}

	#top_right_long {
		background-color: red;
		height: 300px;
		width: 100px;
		border: 3px solid white;
		float: right;
	}

	#bottom_right_long{
		background-color: red;
		height: 300px;
		width: 100px;
		border: 3px solid white;
		float: right;
		clear: right;
	}

	#bottom_center {
		height: 100px;
		width: 600px;
		background-color: purple;
		border: 3px solid white;
		clear: both;
	}

	
	#poppa_div{
		width: 400px;
		height: 200px;
		background-color: white;
		float: left;
	}

	#momma_div {
		width: 400px;
		height: 200px;
		background-color: white;
		float: left;

	}













