

.red {
margin-top: 200px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red1 {
margin-top: 210px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red2 {
margin-top: 220px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red3 {
margin-top: 240px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red4 {
margin-top: 250px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red5 {
margin-top: 260px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red6 {
margin-top: 280px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}
.red7 {
margin-top: 250px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red8 {
margin-top: 230px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red9 {
margin-top: 210px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red10 {
margin-top: 230px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

.red11 {
margin-top: 250px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
z-index: 100;
}

.red12 {
margin-top: 270px;
border: 2px solid white;
position: relative;
background-color: red;
float: left;
width: 20px;
height: 60px;
}

