body{
	background-color: #f8a657;
}

/* home */
h1{
	color: white;
	position: fixed;
	font-family: Haettenschweiler;
	word-spacing: 10px;
	left: 1160px;
	top: 5px;
	letter-spacing: 5px;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

/* portfolio */
h2{
	color: white;
	position: fixed;
	font-family: Haettenschweiler;
	word-spacing: 10px;
	left: 1270px;
	top: 5px;
	letter-spacing: 5px;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

/* about */
h3{
	color: #f671e2;
	position: fixed;
	font-family: Haettenschweiler;
	word-spacing: 10px;
	left: 1430px;
	top: 5px;
	letter-spacing: 5px;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

/* contact */
h4{
	color: white;
	position: fixed;
	font-family: Haettenschweiler;
	word-spacing: 10px;
	left: 1550px;
	top: 5px;
	letter-spacing: 5px;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

h1:hover{
	color: #82ebf7;
}
h2:hover{
	color: #82ebf7;
}
h3:hover{
	color: #82ebf7;
}
h4:hover{
	color: #82ebf7;
}
