.chessboard {
border: 1px solid white;
width: 800px;
height: 800px;
padding: auto;
}

.red {
background-color: red;
float: left;
width: 100px;
height: 100px;
}

.white {
  float:left; 
  background-color: white;
  width: 100px;
  height: 100px;
}






