body {
	background-color: #D6DFA4;
	width: 630px;
}
div {
	background-color: #72C9AB;
}
#header {
	width: 600px;
	height: 115px;
	margin-top: 20px;
	margin-bottom: 75px;
	margin-left: 30px;
}
#body1 {
	width: 450px;
	height: 350px;
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
#box1 {
	width: 140px;
	height: 230px;
	float: right;
}
#footer1 {
	width: 450px;
	height: 45px;
	margin-left: 30px;
	margin-bottom: 75px;
	clear: left;
}
#header2 {
	width: 600px;
	height: 115px;
	margin-top: 20px;
	margin-bottom: 75px;
	margin-left: 30px;
}
#body2 {
	width: 450px;
	height: 350px;
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
#box2 {
	width: 140px;
	height: 230px;
	float: right;
}
#footer2 {
	width: 450px;
	height: 45px;
	margin-left: 30px;
	clear: left;
}