body{
	background-color: #393033;
	width: auto;
	height: 800px;
	overflow: hidden;
}

h1{
	font-family: 'Pacifico', cursive;
	font-size: 54px;
	color: #fad1e3;
	margin: 0px 15px 0px 0px;
	text-align: right;
	text-shadow: #fad1e3 0px 0px 80px;
}

h3{
	font-family: 'Pacifico', cursive;
	font-size: 27px;
	color: #fad1e3;
	margin: 0px 40px 0px 0px;
	text-align: right;
	text-shadow: #fad1e3 0px 0px 80px;
}

header{
	margin: 10px 0px 0px 0px;
	width: 100%;
	height: 150px;
	background-color: #82bcda;
}

#sidebarbounding{
	width: 280px;
	height: 480px;
	overflow: hidden;
	float: left;
}

#sidebar{
	width: 102%;
	height: 102%;
	overflow-y: scroll;
	float: left;
	padding: 10px 0px 0px 0px;
	margin: 5px 0px 0px 15px;
}

#textglow {
   font-size: 4em;
   color: #FFFFFF;
}

#interviewbounding{
	width: 950px;
	height: 491px;
	overflow: hidden;
	float: left;
}

#interview{
	width: 102%;
	height: 102%;
	overflow-y: scroll;
	float: left;
	margin: 5px 0px 0px 0px;
}

.melissa{
	width: 500px;
	overflow: auto;
	float: right;
	background-color: #b9c2d0;
	margin: 10px;
	border-radius: 30px;
	padding: 10px 10px 10px 10px;
	font-family: Courier;
	font-size: 12px;
}

.taylor{
	width: 500px;
	overflow: auto;
	float: left;
	background-color: #bc91a3;
	margin: 10px;
	border-radius: 30px;
	padding: 10px 10px 10px 10px;
	font-family: Courier;
	font-size: 12px;
}

#nprbutton{
	width: 75px;
	height: 75px;
	border-radius: 100px;
	margin: -107px 10px 0px 10px;
	position: fixed;
}

#taylorbutton{
	width: 75px;
	height: 75px;
	border-radius: 100px;
	margin: -107px 0px 0px 100px;
	position: fixed;
}

a{
	color: black;
	text-decoration: underline;
}

a:hover{
	color: #fff;
	font-size: 12px;
	text-shadow: 3px 3px 80px #ffffff;
}

#footer{
	width: 100%;
	height: 40px;
	background-color: #82bcda;
	clear: both; 
}

h6{
	font-family: 'Pacifico', cursive;
	font-size: 16px;
	color: #000;
	margin: 25px 5px 10px 0px;
	text-align: right;
	text-shadow: #fad1e3 0px 0px 80px;
}

.opacity{
	opacity: .5;
}