header {
	width: 800px;
	margin: 40px auto;
}

header h1 {
	text-align: center;
	font: 100 55px/1.5 'Megrim', cursive;;
	
}

header p {
	font: 100 15px/1.5 'Raleway', Arial, sans-serif;
	text-align: justify;
}
#bulletpoint{
	float:left;
	width:2.5%;
	height:2.5%;
}
iframe{
	margin-left:auto;
	width:640px;
	height:510px;
}
#video{
	text-align:center;
}
