* {
    background-color: #fbffb5;
}
article {
    width: 800px;
    margin: auto;
}

h1 {
    background-color: #aaaaaa;
    font-family: Gravitas One;
    border: 2px dotted #c8e7ea;
    width: 700px;
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 36px;
}

h3 {
    color: #aaaaaa;
    font-family: Gotham-book;
}

h4{
    font-family: Gotham-book;
    color: #aaaaaa;
}

#bold {
    font-size: 20px;
    font-weight: bold;
    color: #aaaaaa;
    font-family: Gotham-book;
}

div {
    color: #69797d;
    border: 2px dotted  #aaaaaa;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: auto;
}

.nodot ul li {
    list-style-type: none;
}

