body {
	background-color: #f7f4ef;
}

/* first name */
p:first-of-type{

	color: black;
	font-family: helvetica;
	font-size: 14px;
	position: absolute;
	top: 324px;
	left: 67px;
	text-align: right;
	line-height: 26px;
}

/* last names */
p:nth-of-type(2){

	color: black;
	font-family: MS Reference Sans Serif ;
	font-weight: bold;
	font-size: 26px;
	position: absolute;
	top: 310px;
	left: 140px;
	line-height: 26px;
}

/* 4 junifeslk */
p:nth-of-type(3){
	color: black;
	font-family: helvetica;
	font-size: 16px;
	position: absolute;
	top: 690px;
	left: 20px;
}

/* blah blah blah */
p:last-child{

	color: black;
	font: helvetica;
	font-size: 16px;
	position: absolute;
	top: 580px;
	left: 180px;
}


/* boxes */
.box1 {
	background-color: #f49f1e;
	width: 350px;
	height: 590px;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}

.box2 {
	background-color: #f49f1e;
	width: 170px;
	height: 530px;
	top: 200px;
	left: 351px;
	position: absolute;
	z-index: -1;
	-webkit-transition: .3s; // you can use also 400ms if you want
          transition: .3s;
}

.box2:hover{
	margin-top:150px;
}

.box3 {
	background-color: #f49f1e;
	width: 70px;
	height: 580px;
	top: 300px;
	left: 522px;
	position: absolute;
	z-index: -1;
	-webkit-transition: .3s; // you can use also 400ms if you want
          transition: .3s;
}

.box3:hover{
	margin-top:50px;
}
.box4 {
	background-color: #f49f1e;
	width: 30px;
	height: 400px;
	top: 145px;
	left: 593px;
	position: absolute;
	z-index: -1;
		  -webkit-transition: .3s; // you can use also 400ms if you want
          transition: .3s;

}

.box4:hover{
	margin-top:30px;
}

.box5 {
	background-color: #f49f1e;
	width: 20px;
	height: 500px;
	top: 0;
	left: 624px;
	position: absolute;
	z-index: -1;
	  -webkit-transition: .3s; // you can use also 400ms if you want
          transition: .3s;
}

.box5:hover{
	margin-top:100px;
}



