html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Oswald', helvetica, arial, sans-serif;
}

#container {
	width: 1024px;
	background: #0da5aa;
	background: -moz-linear-gradient(top,  #0da5aa 0%, #92f4d7 100%, #7ee8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0da5aa), color-stop(100%,#92f4d7), color-stop(100%,#7ee8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0da5aa 0%,#92f4d7 100%,#7ee8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0da5aa 0%,#92f4d7 100%,#7ee8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0da5aa 0%,#92f4d7 100%,#7ee8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0da5aa 0%,#92f4d7 100%,#7ee8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da5aa', endColorstr='#7ee8d8',GradientType=0); /* IE6-9 */
}

ol {
	margin: 100px;
	padding: 0px;
	overflow: hidden;
	bos-sizing: border-box;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ee8d8+0,92f4d7+0,0da5aa+100 */
	background: #7ee8d8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7ee8d8 0%, #92f4d7 0%, #0da5aa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ee8d8), color-stop(0%,#92f4d7), color-stop(100%,#0da5aa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7ee8d8 0%,#92f4d7 0%,#0da5aa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7ee8d8 0%,#92f4d7 0%,#0da5aa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7ee8d8 0%,#92f4d7 0%,#0da5aa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7ee8d8 0%,#92f4d7 0%,#0da5aa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ee8d8', endColorstr='#0da5aa',GradientType=0 ); /* IE6-9 */

}
.letter{
	font-size: 120px;
	font-weight: bold;
	color: white;
	float: left;
	list-style-type: none;
	margin-right: 50px;
}