.absolute{ 
width: 200px;
}

#red{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

#blue{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

#black{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.white{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.5{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.6{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.7{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.8{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.9{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.10{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.11{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

.12{
color: red;
position: absolute;
width: 10px;
height: 40px;
}

