html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
	float: left;
	font-size: 36px;
	font-family: Gravitas One;
	margin-bottom: 40px;
	color: #FDDF73;
	margin-left: 6.25%;
}

nav {
	width: 90%;
	height: 30px;
	position: relative;
}

nav a {
	float: right;
	display: inline-block;
	margin-right: 5.965%;
	margin-left: 5.965%;
	font-family: Avenir;
	margin-top: 2.3%;
	position: relative;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	font-style: italic;
	text-decoration: none;
}

a:active {
	color: #FDDF73;
	text-decoration: none;
}


#yellowline {
	width: 6.75%;
	height: 5px;
	background-color: #FDDF73;
	position: absolute;
	top: 58px;
	left: 46.3%;
}


#interviewpic {
	box-sizing: border-box;
	width: 55%;
	z-index: 1;
	position: absolute;
	top: 20%;
	margin: auto;
}

.chefname {
	width: 60%;
	height: 400px;
	position: relative;
	top: 140px;
	left: 23%;
}

h2 {
	z-index: 5;
	font-size: 625%;
	color: black;
	font-family: Gravitas One;
	position: absolute;
	opacity: 0.7;
	display: inline-block;
}

#david {
	position: absolute;
	top: 10px;
	left: 1%;
}

#chang {
	position: absolute;
	left: 35%;
	top: 160px;
}

#linedavid {
	border: 4px solid black;
	width: 35%;
	opacity: 0.7;
	display: inline-block;
	z-index: 5;
	position: absolute;
	top: 180px;
	left: 43%;
}

#linechang {
	border: 4px solid black;
	width: 30%;
	opacity: 0.7;
	position: absolute;
	display: inline-block;
	z-index: 5;
	left: 9%;
	top: 330px;
}

.easy {
	width: 70%;
	margin: auto;
	height: 100%;
	position: relative;
	top: 210px;
}

#reading {
	min-width: 45rem;
	max-width: 85rem;
	width: 45rem;
	margin: auto;
	position: relative;
}


#headline {
	font-family: Avenir;
	font-size: 21px;
	margin-bottom: 50px;
	position: relative;
	margin-top: 0px;
	left: 3%;
}

.firstcharacter {
	float: left; 
	color: black; 
	font-size: 70px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
}

.summary {
	font-family: Slabo 27px, serif;
	line-height: 23px;
	position: relative;
	left: 3%;
	}

#yellowline2 {
	width: 400px;
	height: 7px;
	background-color: #FDDF73;
	margin-bottom: 60px;
	margin-top: 60px;
	position: relative;
	right: 10px;
}

.gravitasone {
	font-family: Gravitas One;
	font-size: 18px;
	position: relative;
	right: 2%;
}

.space {
	bottom: 20px;
}

.avenir {
	font-family: Avenir;
	position: relative;
	left: 62px;
	bottom: 40px;
	}

.slabo {
	font-family: Slabo 27px, serif;
	bottom: 60px;
	line-height: 23px;
	position: relative;
	left: 62px;
	margin-bottom: 20px;
	}

#yellowline3 {
	position: relative;
	margin: auto;
	border: 3px dotted #FDDF73;
	width: 150px;
	top: 270px;
}

section {
	width: 70%;
	margin: auto;
	position: relative;
	height: 400px;
	top: 300px;

}

h3 {
	font-family: Avenir, sans-serif;
	font-size: 24px;
}

.relatedposts {
	box-sizing: border-box;
	width: 300px;
	position: relative;
	float: left;
	margin-left: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.subtitles1 {
	font-family: Avenir;
	font-size: 14px;
	clear: both;
	margin-left: 150px;
}

.subtitles2 {
	font-family: Avenir;
	font-size: 14px;
}

#subtitles2group {
	box-sizing: border-box;
	position: relative;
	float: right;
	right: 24.7%;
	top: -67px;
}

footer {
	height: 480px;
	background-color: #FDDF73;
	text-align: center;
	position: relative;
	top: 270px;
	margin: auto;
}

#whatever {
	position: relative;
	top: 20px;
	margin: auto;
	right: 4%;
}

.nav {
	font-family: Avenir;
	font-size: 18px;
	display: inline-block;
	margin-left: 60px;
}

#follow {
	font-size: 18px;
	font-family: Avenir;
	position: relative;
	top: 30px;
}

.followus {
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	margin-right: 40px;
	position: relative;
}

#dontknow {
	position: relative;
	left: 10px;
	top: 20px;
}

.line {
	width: 500px;
	border: 1px solid black;
	margin-left: 450px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.basic {
	font-family: Avenir;
	font-size: 16px;
	display: inline-block;
	margin-right: 40px;
	margin-top: 10px;
}

.info {
	margin-bottom: 10px;
	margin-top: 5px;
}

#law {
	max-width: 400px;
	margin-left: 515px;
}

#logo {
	color: black;
	float: right;
	margin-right: 20px;
	font-size: 28px;
}
