h1{
	color: white;
	font-family: times;
	text-align: center;
	font-size: 28px;
}

h2{
	color: black;
	text-align: center;
	font-size: 20px;
}
h3{
	color: black;
	text-align: center;
	font-size: 18px;
}
h4{
	color: black;
	text-align: left;
	text-decoration: underline;
}
h6{
	font-family: serif;
	color: black;
	text-align: center;
	font-size: 11px;
}

p{
	color: black;
	font-family: serif;
	font-size: 16px;
	text-align: justify;
	line-height: 20px;
}

p:nth-of-type(1){
	text-align: center;
	color: black;
	font-size: 18px;
}
p:nth-of-type(13){
	text-align: justify;
	color: black;
	font-size: 14px;
	line-height: 20px;
}

ol{
	color: black;
	font-size: 14px;
}


body{
	background-color: pink;
}
