.tenniscourt {
	width: 524px;
	height: 630px;
}

.siderectangle {
	box-sizing: border-box;
	float: left;
	position: relative;
	width: 50px;
	height: 306px;
	background-color: yellow;
	margin: 3px;
}

#right {
	position: relative;
	left: 0px;
	top: -106px;


}

.centerrectangle {
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 406px;
	height: 100px;
	background-color: yellow;
	margin: 3px;
}

.square {
	box-sizing: border-box;
	float: left;
	position: relative;
	width: 200px;
	height: 200px;
	background-color: yellow;
	margin: 3px;
}

#rightbottom {
	position: relative;
	top: -205px;
}

#bottom {
	position: relative;
	top: -105px;
}


