body{
	width: 960px;
	background-color: #244a93
}

div{
	float: left;
	clear: all;

}

.med{
	width:200px;
	padding-left:20px;
	padding-right:20px;
}

.sma{
	width: 100px;
}

h1{
	font-size: 150px;
	font-family: Arial, sans-serif;
	font-weight: none;
	color: #03a049;
    -webkit-margin-before: -0em;
    -webkit-margin-after: -0em;
    letter-spacing: 0.02px;

}
.viva{
    -webkit-margin-before: -2em;
    -webkit-margin-after: -0em;
    text-align: center;
    float: none;

}

h4{
	color: white;
}

p{
	font-family: Arial, sans-serif;
	color: white;
	position:relative;
	bottom:2px;
	
}


