.tenniscourt {
	width: 524px;
	height: 630px;
}

.siderectangle {
	box-sizing: border-box;
	float: left;
	position: relative;
	width: 50px;
	height: 306px;
	background-color: yellow;
	margin: 3px;
}

#right {
	position: relative;
	float: right;
}

.centerrectangle {
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 406px;
	height: 100px;
	background-color: yellow;
	margin: 3px;
}

.square {
	box-sizing: border-box;
	float: left;
	position: relative;
	width: 200px;
	height: 200px;
	background-color: yellow;
	margin: 3px;
}




