#header{
	background-color: red;
	width: 800px;
	height: 200px;
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: static;
}
#menu{
	background-color: red;
	width: 50%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}