#one {
	width: 50px;
	height: 50px;
	background-color: blue;
	position: absolute;
}	

#two {
	width: 50px;
	height: 100px;
	background-color: green;
	position: absolute;
	left: 70px;
}

#three {
	width: 70px;
	height: 200px;
	background-color: yellow;
	position: absolute;
	top: 120px;
}

#four{
	width: 200px;
	height: 70px;
	background-color: pink;
	position: absolute;
	left: 200px;
	top: 120px;
}

#five {
	width: 100px;
	height: 80px;
	background-color: red;
	position: absolute;
	left: 400px;
	top: 200px;
}

#six {
	width: 150px;
	height: 150px;
	background-color: purple;
	position: absolute;
	left: 150px;
	top: 225px;
}

#seven {
	width: 300px;
	height: 70px;
	background-color: cyan;
	position: absolute;
	left: 170px;
}

#eight {
	width: 100px;
	height: 600px;
	background-color: orange;
	position: absolute;
	left: 700px;
}

#nine {
	width: 300px;
	height: 50px;
	background-color: goldenrod;
	position: absolute;
	left: 900px;
	top: 250px;
}

#ten {
	width: 300px;
	height: 300px;
	background-color: lightgreen;
	position: absolute;
	left: 900px;
	top: 400px;
}

#eleven {
	width: 400px;
	height: 200px;
	background-color: slateblue;
	position: absolute;
	left: 850px;
}

#twelve {

}