		#menu{
				height: 20px;
				width: 1272px;
				background-color: black;
				position: fixed;
				color: white;
				font-size: 50px;
				font-family: Impact;
				z-index: 300;
				margin-top: -350px;
				}

		body{
			background-image: url("../img/project_1_background_2.jpg");
		  	background-size: cover;
			background-repeat: no-repeat;
			}

		#logo{
				width: 50px;
				height: 50px;
				display: inline;
			}

		h1{
			color: white;
			font-family: "Source Sans Pro";
			text-align: center;
			font-size: 90px;
			margin-top: 300px;
			}

		#menu > ul> li{
			display: inline;
			color: white;
			font-size: 28px;
			margin-top: 100px;
			margin-left: 10px;
			background-color: black;
			text-decoration: none;
		}

		#menu > ul> li > a{
			text-decoration: none;
			padding-left: 5px;
			padding-right: 5px;
		}

				/* unvisited link */
		a:link {
		    color: white;
		}

		/* visited link */
		a:visited {
		    color: white;
		}

		/* mouse over link */
		a:hover {
		    color: #64c8ce;
		}

		/* selected link */
		a:active {
		    color: #f9f210;
		}

		#button{
			width: 250px;
			height: 75px;
			border-radius: 5px;
			background-color: #bc5b60;
			text-align: center;
			font-family: "Source Sans Pro";
			color: white;
			font-size: 28px;
			margin: auto;
			padding: 10px;
		}

		a{
			text-decoration: none;
		}

		.sm{
			margin: auto;			
			margin-top: 20px;
			float: right;
		}

		.sm > a > img{
		    height:40px;
		    width: 40px;
		    display: inline;
		    margin: auto;
		}

		ul{
			background-color: black;
		}