img {
	
	width: 500px;
	margin-bottom: 20px;
	margin-left: 30px;
}
p { 
	margin-left: 30px;
	margin-right: 730px;
}
body {
	font-size: 12px;
	font-family: Arial, 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	background: #fff;
	color: #000;
	line-height: 1.3em;
}


a:link { text-decoration: underline; color: #000; }
a:active { text-decoration: none; color: #000; }
a:visited { text-decoration: none; color: #000; }
a:hover { text-decoration: underline; }
a img { border: none; }


strong, b { font-weight: bold; }
em, i { font-style: italic; }
object { display: block; }
.once { clear: left; }
.clL { clear: left; }
.clL { clear: left; }


#img-container span.backgrounded a,
#img-container a.thickbox, 
#img-container a.thumb-img, 
#img-container #d-col1 a { background: transparent; }

#index {
    width: 100%;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;  
	background: #fff;
	overflow: visible;
	height: 125px; 
#index .top-section
{
	text-align: left; 
	position: fixed;
	z-index: 1;
	right: 40px;
	top: 25px;
	width: 
}

#index nav {  }
#index ul {
	float: left;
	width: 130px;  
	list-style-type: none;
	overflow: auto;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px; 
}

#index ul.section { margin-bottom: 2px; }

#index ul.section span.section_title, 
#index ul.section span.section_title a 
{ text-decoration: none; cursor: pointer; font-weight: bold; text-align: left; width: auto; color: green;}
#index ul.section span.section_title:hover, #index ul.section span.section_title a:hover 
{ text-decoration: underline; }



#index ul.section span.subsection_title, 
#index ul.section span.subsection_title a 
{ line-height: 1.3em; text-decoration: none; cursor: pointer; width: auto; text-align: left; }

#index ul.section span.subsection_title:hover, #index ul.section span.subsection_title a:hover 
{ text-decoration: underline; }



#index ul.section li.exhibit_title { width: auto; text-align: left; margin: 0px 0px 0px 0px; }
#index ul.section li.exhibit_title a:link { text-decoration: none; }
#index ul.section li.exhibit_title a:hover { text-decoration: underline; }



#index ul.all_tags { list-style-type: none; margin-bottom: 9px; }
#index ul.all_tags li { display: inline; margin-right: 3px; }


li.active a:link, li a.active, 
li.active a:hover, li a.active, 
li.active a:active, li a.active, 
li.active a:visited, li a.active, 
li span.active, 
#index ul.section li.active a:link, 
#index ul.section li.active a:hover, 
#index ul.section li.active a:active, 
#index ul.section li.active a:visited
{ width: auto; text-align: left; }
#index p { width: auto; text-align: left; }


#index ul li .password a { padding-right: 18px; }

#index ul li sup { color: #0c0; font-weight: bold; text-transform: uppercase; font-size: 8px; vertical-align: top; }


#hmplusnet-credit
{
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 0 14px 40px;
	width: 200px;
}

#hmplusnet-credit a
{
	background: #fff;
}


#copy.bottom-section { 
z-index : 100;
right : 0;
bottom : 0;
margin : 0 0 0 0;
padding : 0px 40px 14px 0px;
text-align : right; }
#copy  {
  
  position: absolute; }
body > #copy  {
  
  position: fixed; }
#copy.bottom-section  {
  
  position: absolute; }
body > #copy.bottom-section  {
 
  position: fixed; }


#exhibit { 
	margin-top: 115px;
	margin-bottom: 65px;
}


.container { padding: 27px 9px 25px 27px; }


#index .container {  padding: 25px 0px 0px 40px;  }
#exhibit .container {  padding: 30px 0px 0px 40px;  }

#index .top { height: 36px; float: left; }
#exhibit .top { display: none; }
#show .top { height: 36px; }


h1 { font-size: 27px; margin-bottom: 9px; font-weight: bold; color: green; }

h2 {
	font-size: 160px;
	line-height: 120%;
	letter-spacing: -16px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

h3 {
	font-size: 53px;
	line-height: 100%;
	letter-spacing: -5px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

h4 {
	font-size: 27px;
	line-height: 100%;
	letter-spacing: -2px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}



#img-container { margin: 0; padding: 0; }
#img-container p { width: 600px; margin: 0; padding: 0 0 12px 0; }

.highlight { background: #ccff00; color: #000; }
small { font-size: 9px; }
.once { clear: left; }