h1{
	color: black;
	font-size: 30px;
	font-family: futura, serif;
}

p{
	color: black;
	font-size: 18px;
	text-align: left;
}


table{
	border-collapse: collapse;
}

th{
	color: black;
	line-height: 50px;
	text-align: center;
	font-family: sans-serif;
}

table td:nth-child(1){
	font-size: 20px;
	font-family: serif;
	color: black;
	text-align: center;
	line-height: 20px;
	border: 1px solid #ff032d;
	padding: 15px 25px;
}

table td:nth-child(2){
	font-size: 20px;
	color: black;
	text-align: center;
	font-family: serif;
	line-height: 20px;
	border: 1px solid #ff032d;
	padding: 15px 25px;
}

table td:nth-child(3){
	font-size: 20px;
	color: black;
	text-align: center;
	font-family: serif;
	line-height: 20px;
	border: 1px solid #ff032d;
	padding: 15px 25px;
}

