h1{
	text-align: center;
	size: 50px;
	color: cyan;
}
body{
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	padding-top: 10px;
	font-family: Georgia, Times, serif;
	margin-right:10px;
	margin-left:10px;
	margin-top: 10px;
    width:100%;
    height:90%;
    background-color: #A812FF;
}

.every{
    -webkit-column-count: 3;
	-webkit-column-gap: 15px;
}

span{
	font-family: Avenir, Nunito, sans-serif;
	font-variant: small-caps;
	font-weight: bold;
}

p{
	font-family: Avenir, Nunito, sans-serif;
	color: white;
}

div{
	font-family: Avenir, Nunito, sans-serif;
	font-size: 14px;
}

img{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
    width: 100%;
    height:auto;
}

.columns{
	width: 33.3333%;
	height: 100vh;
	z-index: 20;
}

#col1{
	background-color: #FF5271;
	float: left;
}

#col2{
	background-color: #F652FF;
	display: inline-block;
}

#col3{
	background-color: #57FF52;
	float: right;
}

footer{
 	font-family: Avenir, Nunito, sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	background-color: #00ffee;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}