* {
	width: 1010px;
}


#Logo {
	width: 80px;
	height: 80px;
	position: fixed;
	max-width: 100%;
    height: auto;
    margin: 10px 0px 0px 20px;
}

.headerbar{
	width: 1068px;
	height: 95px;
	background-color: white;
	opacity: 0.9;
	position: fixed;
	margin: -10px 0px 0px -10px;
	overflow: hidden;
}


h2 {
	font-family: Dolce Vita Light, sans-serif;
	letter-spacing: 3px;
	font-size: 25px;
	float: right;
	color: black;
	margin: 40px 0px 0px 450px;
	position: fixed;
	text-decoration: none;
}

p {
	font-family: Dolce Vita Light, sans-serif;
	letter-spacing: 3px;
	font-size: 25px bold;
	color: black;
	text-align: center;
	margin: 20px 0px 0px 0px;
	text-decoration: none;
}


h3 {
	font-family: Dolce Vita Light, sans-serif;
	letter-spacing: 3px;
	font-size: 25px;
	float: right;
	color: black;
	margin: 40px 0px 0px 550px;
	position: fixed;
	text-decoration: none;
}

h4 {
	font-family: Dolce Vita Light, sans-serif;
	letter-spacing: 3px;
	font-size: 12px;
	float: right;
	color: black;
	margin: 40px 0px 0px 800px;
	position: fixed;
	text-decoration: none;
}

h5 {
	font-family: Dolce Vita Light, sans-serif;
	letter-spacing: 3px;
	font-size: 12px;
	float: right;
	color: black;
	margin: 53px 0px 0px 800px;
	position: fixed;
	text-decoration: none;
}

h1 {
	font-family: Dolce Vita Light, sans-serif;
	letter-spacing: 3px;
	font-size: 40px;
	color: black;
	text-align: center;
	margin: 50px 0px 0px 0px;
	text-decoration: none;
}

#about {
	font-family: Dolce Vita Light, sans-serif;
	letter-spacing: 3px;
	font-size: 40px;
	color: black;
	text-align: left;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	padding-top: 150px;
}

h6 {
	font-family: Futura, sans-serif;
	letter-spacing: 1px;
	font-size: 20px;
	color: gray;
	text-align: left;
	margin: 20px 0px 0px 0px;
	text-decoration: none;
	width: 700px;

}

#contact {
	font-family: Dolce Vita Light, sans-serif;
	letter-spacing: 3px;
	font-size: 40px;
	color: black;
	text-align: left;
	margin: 50px 0px 0px 0px;
	text-decoration: none;
}

#sow {
	font-family: Futura, sans-serif;
	letter-spacing: 3px;
	font-size: 20px;
	color: gray;
	text-align: left;
	margin: 20px 0px 0px 0px;
	text-decoration: none;
}

#email {
	font-family: Futura, sans-serif;
	letter-spacing: 3px;
	font-size: 20px;
	color: gray;
	text-align: left;
	margin: 0px 0px 0px 0px;
	text-decoration: none;
}

