.box{
                    width:700px;
                }
       			div{
    				position:relative;
    			}
    			#header{
    				width:600px;
    				height:90px;
    				float:left;
                    margin-bottom:100px;
                    background-color:red;
                }
    			#blog1{
    				width:500px;
    				height:300px;
                    margin-bottom:10px;
                    float:left;
                    background-color:red;
    			     
    			}
    			#blogright1{
    				width:85px;
    				height:100px;
                    float:left;
                    margin-left:15px;
                    background-color:red;
    				
    			}
    			#blogbottom1{
    				width:500px;
    				height:50px;
                    clear:left;
                    background-color:red;
    			}