.colume{
                width:600px;
                height:1000px;
            }
    		#header{
    			width:600px;
    			height:80px;
                margin:5px;	
                float:left;
                background-color:red;
                position:relative;
    		}
    		#line{
    			width:600px;
    			height:15px;
                margin:5px;
                clear:left;
                background-color:red;
                position:relative;
    		}
    		#left{
    			width:190px;
    			height:600px;
                float:left;
                margin:5px;
                background-color:red;
                position:relative;
    		}
    		#middle{
    			width:190px;
    			height:600px;
                float:left;
                margin:5px;
                background-color:red;
                position:relative;
    		}
    		#right{
    			width:190px;
    			height:600px;
                float:left;
                margin:5px;
                background-color:red;
                position:relative;
    		}
    		#footer{
    			width:600px;
    			height:80px;
                clear:left;
                margin:5px;
                background-color:red;
                position:relative;
    		}
