body {
	background-color: #CCFFFF;
}
.orange {
	background-color: #F09131;
	color: white;
}
#texture {
	line-height: 1.5em;
	margin-right: 40px;
	margin-left: 40px; 
}
.size {
	font-size: 2em;
}
.class {
	opacity: .2;
}
#sans {
	font-family: sans-serif;
	font-size: 1.5em;
}
#modern {
	font-family: monospace;
	font-size: 1.5em;
}
#vertical {
	margin-right: 25em;
	margin-left: 30em;
}
#stretch {
	text-transform: capitalize;
	background-color: yellow;
	opacity: .5em;
}