*{
	font-family: Palatino;
}

html{
	background-image: url(../img/background.svg);
	background-size: contain;	
}

#header{
	width: 100%;
	background-color: black;
	top fixed;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

h1{
	font-size: 3em;
	padding: 1%;
	color: white;
	margin-top: 0%;
}

h2{
	text-align: center;
	margin-top: 5%;
	font-size: 2em;
	color: white;
}

li {
    float: left;	
}

.menu {
    display: block;
    padding: 15px;
	background-color: black;
	width: 100%
}

ul{
	list-style-type: none;
	margin-left: 65%;
	margin-top: -7%;
}

p{
	margin: auto;
	text-align: left;
	font-size: 130%;
	width: 50%;
}

h3{
	margin-left: 13%;
	margin-top: 12%;
	display: inline-block;
}

#teamwork{
	margin-top: 75%;
}

img{
	padding: 2%;
}

.piece_1{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 30%;
	height: 30%;
}

.divider{
	width: 80%;
	height: 2px;
	background-color: #bdbbbb;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#mywork{
	margin-top: 25%;
}

.piece_3{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 50%;
	width: 30%;
	padding: 2%;
}

.piece_4{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 30%;
	height: 35%;	
}

.piece_5{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 30%;
	height: 60%;	
}