#boundingbox{
	width: 800px;
	height: 800px;
	border: 2px solid #000;
}

.row {
	width:800px;
	height:100px;
}

.teal{
	width: 100px;
	height: 100px;
	background-color: #008080;
	float: left;
}

.white{
	width: 100px;
	height: 100px;
	background-color: #fff;
	float: left;
}