.e{
	float: left;
	position: relative;
	background-color: red;
	width:20px;
	height: 300px;
	border: 1px solid white;
}

#y{
	top: 30px;
}

#u{
	top: 80px;
}

#d{
top: 40px;
}

#o{
	top: 30px;
}

#dis{
top: 80px;
}

#r{
	top: 50px;
}

#ee{
	top: 30px;
}

#d{
	top: 70px;
}

#s{
top: 20px;
}

#why{
	top: 30px;
}