
body {
	background-color: black;
}

img{
    position: relative;
    left: 0px;
    top: 0px;
}

p { 
	color: white;
	font-family: times;
	font-size: 16px;
}

h1 {
	color: white;
	font-family: didot;
	font-size: 40px;
	z-index: 10;
	top: 0;
	left: 80px;
	position: absolute;
}

h2 {
	color: white;
	font-family: helvetica;
	font-size: 18px;
	z-index: 10;
	top: 55px;
	left: 165px;
	position: absolute;
}

#quote1{
	color: #c99ff5;
	font-size: 22px;
	font-family: didot;
	left: 700px;
	top: 340px;
	position: absolute;
}

#quote2{
	color: #c99ff5;
	font-size: 22px;
	font-family: didot;
	left: 1000px;
	top: 1200px;
	position: absolute;
}

#interview{
	color: white;
	font-family: didot;
	font-size: 30px;
	position: absolute;
	top: 80px;
	left: 850px;
}

h5 {
	color: white;
}

h6{ 
	color: white;
	position: absolute;
	font-family: didot;
	font-size: 10px;
	top: 160px;
	left: 870px;
}













