body{
	background-color: gray;
}


h1{
	color: #b7e4fc;
	font-family: didot;
	text-align: center;
	font-size: 50px;
}

.exercise{
	color: #fcebb7;
	font-size: 20px;
	margin-top: 50px;
	margin-left: 70px;
	position: relative;
	font-family: helvetica;
}

.order{
	color: #fcb7c9;
	font-size: 16px;
	font-family: helvetica;
	margin-left: 50px;

}

.projects{
	color: #fcebb7;
	font-size: 20px;
	font-family: helvetica;
	float: right;
	margin-left: 340px;
	margin-top: -240px;
	position: absolute;
}

.style{
	color: #e9829c;
	font-size: 16px;
	font-family: helvetica;
	text-decoration: underline;
	float: right;
	margin-left: 300px;
	margin-top: -215px;
	position: absolute;
}

