body{
	background-color: gray;
}
	h1{
	color: white;
	font-family: didot;
	text-align: center;
}

#ul{
	color: white;
	font: helvetica;
	font-size: 18px;
	position: absolute;
	float: left;
	top: 200px;
	text-align: center;
	
}

#ol{
	color: black;
	font: helvetica;
	font-size: 16px;
	position: absolute;
	text-align: center;
	
}

