html {
   font-family: "Oswald", "Helvetica Neue", helvetica, arial, sans-serif;
   max-width: 1024px;
}

body {
   margin: 0;
   padding: 0;
   background: #aeff3f;

   /*** CSS GRADIENTS ***/
   /*
   background: #aeff3f;
   background: -moz-linear-gradient(-45deg,  #aeff3f 0%, #00d49c 100%);
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aeff3f), color-stop(100%,#00d49c));
   background: -webkit-linear-gradient(-45deg,  #aeff3f 0%,#00d49c 100%);
   background: -o-linear-gradient(-45deg,  #aeff3f 0%,#00d49c 100%);
   background: -ms-linear-gradient(-45deg,  #aeff3f 0%,#00d49c 100%);
   background: linear-gradient(135deg,  #aeff3f 0%,#00d49c 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeff3f', endColorstr='#00d49c',GradientType=1 );
   background-repeat: no-repeat;
   */
}

#container {
   max-width: 876px;
   background: #00d49c;

   /*** CSS GRADIENTS ***/
   /*
   background: #00d49c;
   background: -moz-linear-gradient(-45deg,  #00d49c 0%, #aeff3f 100%);
   background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00d49c), color-stop(100%,#aeff3f));
   background: -webkit-linear-gradient(-45deg,  #00d49c 0%,#aeff3f 100%);
   background: -o-linear-gradient(-45deg,  #00d49c 0%,#aeff3f 100%);
   background: -ms-linear-gradient(-45deg,  #00d49c 0%,#aeff3f 100%);
   background: linear-gradient(135deg,  #00d49c 0%,#aeff3f 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d49c', endColorstr='#aeff3f',GradientType=1 );
   background-repeat: no-repeat;
   */

   box-sizing: border-box;
   margin: 78px;

   overflow: hidden;
}


ol {
   box-sizing: border-box;
   padding: 0;
   margin: 0 auto;
   overflow: hidden;
   width: 648px;
}

li {
   list-style-type: none;
}

/**** ANIMATIONS: @ KEYFRAME RULE ****/

/*
@-webkit-keyframes pulse {
   0% {
      text-shadow: none;
   }
   50% {
      text-shadow: 0 0 25px white;
   }
   100% {
   text-shadow: none;
   }
}

@keyframes pulse {
   0% {
      text-shadow: none;
   }
   50% {
      text-shadow: 0 0 25px white;
   }
   100% {
   text-shadow: none;
   }
}
*/
.letter {
   width: 86px;
   font-size: 120px;
   font-weight: bold;
   color: white;
   float: left;
   margin-right: 100px;
   text-align: center;


   /**** TRANSITIONS ****/

   /*
   -webkit-transition: all 3s ease;
   -moz-transition: all 3s ease;
   -ms-transition: all 3s ease;
   -o-transition: all 3s ease;
   transition: all 3s ease;
   */

}

header {
   width: 378px;
   margin: 40px auto;
   overflow: auto;
}

header > * {
   float: left;
}

h1 {
   font-family: "Courier New", monospace;
   color: white;
   font-weight: normal;
   padding: 0 60px;
   margin: 0;
}

#content {
   overflow: hidden;
}

.circle {
   width: 30px;
   height: 30px;
   background-color: red;

   /*** BORDER RADIUS ***/
   /*
   border-radius: 50%;
   */
}

/*** STRUCTURAL PSEUDO CLASSES ***/
/*
.letter:nth-child(4n) {
   margin-right: 0;
}

.letter:nth-of-type(2n) {
   border-bottom: 16px solid white;
}
*/

.letter:hover {
   /*** TRANSFORMS ***/
   /*
   -moz-transform: scale(1.2) rotate(45deg);
   -webkit-transform: scale(1.2) rotate(45deg);
   -o-transform: scale(1.2) rotate(45deg);
   -ms-transform: scale(1.2) rotate(45deg);
   transform: scale(1.2) rotate(45deg);
   */

   /*** ANIMATIONS: ANIMATION PROPERTIES ***/
   /*
   -moz-animation-duration: 1.5s;
   -webkit-animation-duration: 1.5s;
   animation-duration: 1.5s;
   -moz-animation-name: pulse;
   -webkit-animation-name: pulse;
   animation-name: pulse;
   -moz-animation-iteration-count: infinite;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
   -moz-animation-direction: alternate;
   -webkit-animation-direction: alternate;
   animation-direction: alternate;
   */
}
