td{
	border-bottom: 2px solid #007dc3;
}
table{
	border: 1px dotted #ff6699;
	padding: 5px;

}

th {
	font-family: "bebasneue";
	font-size: 30px;
	color: #007dc3;
}
h1 {
	font-family: "bebasneue";
	font-size: 45px;

}

html {
	font-family: "helvetica";
	font-weight: lighter;
}
.names {
	font-weight: bold;
	color: red;
}
.pizzanames {
	font-weight: bold;
}