body {
	background-color: black;
}

img{
    position: relative;
    left: 0px;
    top: 0px;
}

p { 
	color: white;
	font-family: times;
	font-size: 16px;
}

h1 {
	color: white;
	font-family: didot;
	font-size: 40px;
	z-index: 10;
	top: 0;
	left: 80px;
	position: absolute;
}



h2 {
	color: white;
	font-family: helvetica;
	font-size: 18px;
	z-index: 10;
	top: 55px;
	left: 165px;
	position: absolute;
}



h3 {
	color: #712f89;
	font-family: helvetica;
	font-size: 18px;
	z-index: 10;
	top: 250px;
	left: 415px;
	position: absolute;
}




h6 {
	color: white;
}













