.poster {
	border: 5px;
	width: 1000px;
	height: 685px;
	padding: auto;
	z-index: 10;
}

.black-1 {
float:left; 
margin: 2px;
background-color: black;
width: 336px;
height: 866px;
}

.black-2 {
float:left; 
margin: 2px;
background-color: black;
width: 638px;
height: 832px;
}

.black-3 {
margin: 2px;
float: left;
position: static;
background-color: black;
width: 672px;
height: 364px;
clear: left;
}

.black-4 {
float: right;
position: static;
margin: 2px;
background-color: black;
width: 300px;
height: 400px;
margin-right:20px;
}


.red {
float:left; 
margin: 1px;
background-color: #DF0101;
width: 155px;
height: 30px;
}
.red:hover {
background-color: #642EFE;
}

.purple {
float:left; 
margin: 1px;
background-color: #642EFE;
width: 90px;
height: 30px;
}
.purple:hover {
background-color: #0B3B17;
}

.green-1 {
float:left; 
margin: 1px;
background-color: #0B3B17;
width: 28px;
height: 30px;
}
.green-1:hover {
background-color: #F7D358;
}

.green-2 {
float:left; 
margin: 1px;
background-color: #0B3B17;
width: 7px;
height: 30px;
}
.green-2:hover {
background-color: white;
}


.white {
float:left; 
margin: 1px;
background-color: white;
width: 14px;
height: 30px;
}
.white:hover {
background-color: #F7D358;
}

.yellow {
float:left; 
margin: 1px;
background-color: #F7D358;
width: 27px;
height: 30px;
}
.yellow:hover {
background-color: #DF0101;
}

h2 {
	position: absolute;
	color: white;
	font-family: helvetica;
	top:450px;
	left: 400px;
}
h3 {
	position: absolute;
	color: white;
	font-family: helvetica;
	width: 294px;
	top:420px;
	left: 690px;
}

h5 {
	position: absolute;
	color: white;
	font-family: helvetica;
	top:635px;
	left: 820px;
}

.artist {
	transform: rotate (25deg);
		background: black;
	position: absolute;
	color: white;
	font-family: helvetica;
	top:1100px;
	left: 820px;

}



h1 {
	position: absolute;
	color: white;
	font-family: helvetica;
	font-size: 25px;
	top:1195px;
	left: 15px;
}