body {
	background-color: #FFFADC;
	/* whow do I figure out the dimensions of the view box */
}
p {
	font-family: sans-serif;
	font-size: 12pt;
	padding-left: 10px;
}
h1 {
	font-family: sans-serif;
	padding-left: 10px;
}
#title p {
	font-size: 30pt;
	font-family: silom;
	color: red;
	opacity: 1;
	/* making opacity %100 */
}
.navbutton p {
	font-family: sans-serif;
	font-size: 13pt;
	color: #FF3300;
	padding-top: 17px;
	text-align: center;
	/* how do I center the text within the navbutton divs and not the nav div */
}
#heading {
	width: auto;
	height: 75px;
	background-color: #66CC00;
	margin-top: 50px;
	opacity: .5;
}
#title {
	height:30px;
	position: absolute;
	margin: -22.5px 0px 0px 50px;
}
#nav {
	height: 800px;
	width: 150px;
	background-color: #FFFF66;
	margin-top: -100px;
	margin-right: 0px;
	margin-left: 100px;
	display: inline-block;
}
#track {
	height: 700px;
	width: auto;
	background-color: #ECFFFF;
	display: inline-block;
	position: absolute;
	/* why does 'position: absolute' make it sit right next to the 'nav' div */
}
#text {
	height: 600px;
	width: 400px;
	border: solid 4px white;
	float: right;
	margin: 30px;
	overflow: hidden;
}
#footer {
	height: 35px;
	width: auto;
	margin-top: 35px;
	background-color: #E72000;
	opacity: .5;
}
#spacer {
	height: 110px;
	/* is there a more efficient way of spacing out the divs within the nav */
	
}
.navbutton {
	height: 60px;
	width: 100px;
	background-color: #B9B499;
	margin: 60px 25px 0px 25px;
	opacity: .8;

}
.russ, .rauch {
	color: #FF5B00;
	font-size: 15pt;
}
.additional {
	font-style: italic;
	font-weight: 200;
}