#background{
	background-color: #f9f9e8;
	width: 960px;
	height: 1200px;
	position: absolute;
}

.blue{
	background-color: #055497;
	width: 75px;
	height: 75px;
	z-index: 350;
	top: 450px;
	left: 325px;
	position: relative;
}

p{
	text-align: left;
	font-family: "Source Sans Pro";
	font-size: 10px;
	margin: auto;
	width: 15%;
	margin-top: 28%;
	padding-bottom: 3px;
	position: relative;
	margin-left: 20%;
}