#header{
	width: 900px;
	height: 144px;
	float: left;
	background-color: #c1095c;
	margin: 3px 3px 3px 3px;
}

.postbounding{
	width: 700px;
	height: 500px;
	float: left;
	margin: 150px 3px 3px 3px;
}

.postbody{
	width: 554px;
	height: 394px;
	float: left;
	margin: 3px;
	background-color: #c1095c;
}

.postfooter{
	width: 554px;
	height: 34px;
	float: left;
	margin: 3px;
	background-color: #c1095c;
}

.postsidebar{
	width: 134px;
	height: 175px;
	float: left;
	margin: 3px;
	background-color: #c1095c;
}
