html {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: white;
}

body {
	width: 80%;
	margin: auto;
	padding: 0;
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+28,f1da36+100 */
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #fefcea 28%, #f1da36 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #fefcea 28%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #fefcea 28%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
;
}

@-webkit-keyframes color {
  0% {
    color: black;
  }
  50% {
    color: grey;
  }
  100% {
  	color: white;
  }  
}

h1 {
	font-family: Avenir Bold, sans-serif;
	margin: auto;
	text-align: center;
	-webkit-animation: color 3.5s linear infinite alternate;  ; 
}

h3 {
	font-family: Avenir Book, sans-serif;
}

#mainlist > li {
	list-style-type: none;
	margin-top: 60px;
}

a {
	text-decoration: underline;
	text-decoration-color: white;
	color: black;
}

a:hover {
	color: #C8C8C8 ;
}

li {
	font-family: Avenir Book, sans-serif;
}

.list1 > li {
	font-weight: bold;
	margin-bottom: 20px;
}

.uproman > li {
	list-style-type: upper-roman;
	margin-bottom: 20px;
}

.lower > li {
	list-style-type: lower-roman;
	margin-bottom: 20px;
}

.circle > li {
	list-style-type: disc;
	margin-bottom: 10px;
}

.italic {
	font-style: italic;
}