header{
    background-color: #000000;
    width: 100%;
    height: 80px;
    margin: -10px 0px 0px -10px;
    position: fixed;
    float: left;
    z-index: 10;
}

body{
    background-color: #8a999f;
}

h1{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    color: #CDD2D0;
    position: fixed;
    margin: 15px 0px 0px 10px;
    z-index: 10;
}

h2{
    font-family: 'Gill Sans', Arial;
    font-size: 18px;
    font-weight: lighter;
    color: #CDD2D0;
    text-align: right;
    margin: 30px 20px 0px 0px;
    float: right;
    z-index: 10;
}

a:hover{
    color: #D89D9C;
}

a{
    color: #CDD2D0;
    text-decoration: none;
}

img:hover{
    opacity: .4;
    background-color: #fff;
    z-index: -10;
}

p{
    display: none;
    font-family: "Gill Sans", Arial;
    font-size: 18px;
    font-color: #3E656C;
    text-align: center;
    vertical-align: center;
    z-index: 10;
}

p:hover{
    display: block;
}

.row{
    width: 100%;
    height: 50%;
    float: left;
    justify-content: space-between;
}

#container{
    margin: 83px 0px 0px 0px;
    float: left;
    justify-content: space-between;
}

.img{
    width: 32%;
    height: 100%;
    margin: 3px;
}

.button{
    width: 170px;
    height: 170px;
    border-radius: 100px;
    background-color: #000000;
    float: left;
    margin: 103px 0px 0px 70px;
    vertical-align: center;
}

h3{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    color: #D89D9C;
    text-align: center;
    line-height: 370%;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    background: #000;
}

.dropdown .dropdown-menu {
    list-style: none; 
    width: 100%; 
    padding: 5px 0px 0px 0px;
    font-family: "Gill Sans", Arial;
    font-size: 18px;
    font-weight: lighter;
    display: none;
    top: 100%;
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
}