body {
	background-color: #596321;
}
#header {
	height: 100px;
	width: 600px;
	background-color: #FFA500;
	margin: 0px 200px 0px 200px;
}
#headerbar {
	height: 30px;
	width: 600px;
	background-color: #FFA500;
	margin: 15px 200px 0px 200px;
}
#column1 {
	height: 400px;
	width: 190px;
	background-color: #FFA500;
	margin: 15px 15px 0px 200px;
	display: inline-block;
}
#column2 {
	height: 400px;
	width: 190px;
	background-color: #FFA500;
	margin: 15px 15px 0px 0px;
	display: inline-block;
}
#column3 {
	height: 400px;
	width: 190px;
	background-color: #FFA500;
	margin: 15px 15px 0px 0px;
	display: inline-block;
}
#footer {
	height: 100px;
	width: 600px;
	background-color: #FFA500;
	clear: both;
	margin: 15px 200px 0px 200px;
}